.App {
  text-align: center;
}

.page-header {
  font-size: 3rem;
  font-weight: 800;
}

.table-background {
  box-shadow:
    0 0 60px 30px  #ac7a4b,
    0 0 100px 60px #c1976b,
    0 0 140px 90px #e1b382;
}

.table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  opacity: 1;
}

.table>thead>tr>th {
 background-color: #2C2928;
 text-align: center;
 font-weight: 800;
 font-size: larger;
 color: #BDBBBB;
}

.table>tbody>tr:nth-child(even)>td, 
.table>tbody>tr:nth-child(even)>th {
 background-color: #363636;
 text-align: center;
 font-weight: 800;
 font-size: larger;
 color: #BDBBBB;
}

.table>tbody>tr:nth-child(odd)>td, 
.table>tbody>tr:nth-child(odd)>th {
 background-color: #3e3f40;
 text-align: center;
 font-weight: 800;
 font-size: larger;
 color: #BDBBBB;
}

a {
  color: rgb(28,211,96)
}