html, body {
    padding-top: 10px;
    height: 100%;
    transform: rotate();
    /* background-image: linear-gradient(to bottom right, #EADFB1,  #C0A890 70%, #b99f89 90%); */
    background-position:left;
    background-repeat: no-repeat;
    background-position: cover;
    overflow-y: hidden;

}
.backing {
    
}
.headphones{

}

.flex-register {
    height: 440px;
    width: 600px;
    font-size: 2ch;
    align-items:left;
    flex-direction: column;
    justify-content: center;
    display:flex;
    color: #1B1F3B;
    font-weight: bolder;
    font-family: monospace;
    background-color: #C8DBE2;
    opacity: .8;
    margin-left: 12%;
    margin-top: 7%;
    margin-right: auto;
    margin-bottom: auto;
    padding: 40px;
    border-radius: 2%;
}
.loginButton { 
    height: auto;
    width: auto;
    font-size: 2ch;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    display:flex;
    color: #1B1F3B;
    font-weight: bolder;
    font-family: monospace;

    
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 40px;
    border-radius: .5%;
}

