.images {
    height: 300px;
    width: 300px;
    display: inline-block;
}
.flex-container {
    display: flex;
    flex-direction: row;
    margin:0 auto;
    column-gap: 50px;
}

.container-fluid {
    width: 80vw;
}
body{
    overflow-y: scroll;
}
.manage {
    display:flex;
    align-items: center;
    flex-direction: column;
    background-image: url("sax.jpg");
    background-size:contain;
    row-gap: 60px;
    border-radius: 10px;
    border: 10px #4B2B20;
    border-style:ridge;
    margin: auto;
    margin-top: 2%;
    min-height: 80vh;
    width: 80vw;
}
.manager {
    margin-top: 2%;
    width: 75vw;
    min-height: 100vh;

}