.images {
    height: 300px;
    width: 300px;
    display: inline-block;
}
.flex-container {
    display: flex;
    flex-direction: row;
    margin:0 auto;
    column-gap: 50px;
}
table {
    border: 1px solid black;
    table-layout: fixed;
    overflow-y: scroll;
}
.container-fluid {
    width: 80vw;
}
.smaller {
    width: 80%;
}
.larger {
    width: 120%;
    margin-left: -20%;
}
