.images {
    height: 300px;
    width: 300px;
    display: inline-block;
}
.flex-container {
    display: flex;
    flex-direction: row;
    margin:0 auto;
    column-gap: 50px;
}

.container-fluid {
    width: 80vw;
}
body{
    overflow-y: scroll;
}
