
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1.2%;
    padding-left: 25%;
    row-gap: 10%;
    align-items: baseline;
    
    height: 120vh;
    width: 100vw;
    position: absolute;
    margin-top: -16.6vh;
    background-image: url("ErrorPage2.0.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.message {
    margin-top: -10.5vh;
    font-size: 6.9ch;
    margin-left: -22%;
}
.return {
    margin-left: 80%;
}