
html, body {
    background-image: linear-gradient(to bottom, #4C3F91, #9145B6 70%, #B958A5 90%);
    margin:0;
    padding:auto;
    height: 100vh;
    overflow: hidden;
    color: #54392b;

}
h1 {
    margin:0;
}
.flex-container {
    height: 400px;
    width: 400px;
    display:flex;
    flex: 1;
    color: #1B1F3B;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    font-size: 3ch;
    font-weight: bolder;
}
.label {
    position:absolute;
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25vh;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50%;
    color:white;
    font-family:monospace;
    font-size: 12ch;
}

.login {
    color: #B14AED;
    font-family:monospace;
    text-decoration: none;
    font-size: 3ch;
    font-weight: 600;
    transition-duration: .3s;
    position:absolute;
    top: 40px;
    right: 90px;
}
.login:hover {
    color:#E1BBC9 ;
}
