h1 {
    text-align: center;
    font-size: 12ch;
    font-family: monospace;
}
.summary-head {
    color: aliceblue;
    font-family: 'Special Elite';
}
.head {
    color: aliceblue;
}

.flex-summary {

        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        column-gap: 60px;
        width: 80vw;
        justify-content: center;
        background: url(drums-transformed.webp);
        background-size: cover;
        margin: 0 auto;
        padding: 25px;
        margin-top: 4%;
        border-radius: 10px;
        border: 10px #4B2B20;
        box-shadow: 5px 10px#9D746E;
        border-style:ridge;
             
}
.playlist-rows {
    display: flex;
    column-gap: 10px;
    margin-top: 50px;
}
td {
    text-align: left;
}
th {
    text-align: left;
}
table {
    background-color: #fff;
}