h1 {
    text-align: center;
}
.flex-summary {

        display: flex;
        flex-direction: row;
        column-gap: 60px;
        width: 65%;
        justify-content: center;
        margin: 0 auto;
        margin-top: 50px;
        
      
}
td {
    text-align: left;
}
th {
    text-align: left;
}
table {
    background-color: #fff;
}