.header {
    margin-top: 70px;
    text-align: center;
    font-size: 8ch;
}
.home {
    margin-left: 20px;
}
.manage-user {

        display:flex;
        align-items: center;
        flex-direction: column;
        row-gap: 60px;
        background-color: antiquewhite;
        border-radius: 10px;
        border: 10px #4B2B20;
        box-shadow: 5px 10px#9D746E;
        border-style:ridge;
        margin: auto;
        margin-top: 4%;
        min-height: 100vh;
        width: 80vw;
    
}

.second {
    font-size: 2ch;
    background-color: #14274E;
}
.flex-users {
    margin-top: 2%;
    min-width: 60vw;
    min-height: 60vh;

    display: flex;
    flex-direction: row;
}
.flex-select{
    width: 20vw;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 5%;

}
.selected {
    margin-left: 2%;
    
}
.flex-user-select{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    border: 10px #4B2B20;
    box-shadow: 5px 10px#9D746E;
    border-style:ridge;
    text-align: left;
}
.bolded {
    font-weight:900;
    font-size:x-large;
}
