.floating-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #f1f1f1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;    
    z-index: 1000000;
}
.floating-btn img {
    width: 35px; 
    height: 35px;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: black;
    height: 20vh;
    width: 100vw;
    transition: transform 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(0,1,1,1);
    z-index: 2;
    overflow-y: hidden;
    overflow-x: auto;
}

nav.active {
    transform: translateY(0%)
}

nav a {
    display: inline;
    flex-direction: row;
    padding: 10px 25px;
    font-size: 25px;
}
nav a:first-of-type{
    padding-top: 35px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:13vh;
    height: 30%;
    width: 100%;
}
body {
    width: 100vw;
}

@media screen {
    nav {
        transform: translateY(-100%);
    }
}
.title {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 10000;
    color: rgb(10,10,10);
    font-family: monospace;
}
.title-active {
    font-family: monospace;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 100000;
    color: bisque;

}