

:root {
  --accent-color:  #3a4660;
  --accent-color-400: #845007;
  --bg-color: #fdcf6f;
  --dash-color: #ed8a63;
  --text-color: #AC66CC;
  --border-radius: 20px;
  --border-color: #c9af98;
}


.buttons {
  position: absolute;
  bottom: 10px;
  z-index: 1000;
}

button {
  padding: 0.6rem 1rem;
  border: 0;
  flex: 1;
  font-size: small;
  background-color: var(--accent-color);
  color: var(--dash-color);
  border-radius: 100vh;
  letter-spacing: 1px;
  transition: 350ms ease;
}



button:hover {
  background-color: var(--accent-color-400);
  cursor: pointer;
}

td {
  vertical-align:middle;
}

img.playlist {
  height: 200px;
  width: 200px;
  object-fit:cover;
}