

:root {
  --accent-color: #B958A5;
  --accent-color-400: #9145B6;
  --bg-color: #fdcf6f;
  --dash-color: #FFED99;
  --text-color: #AC66CC;
  --border-radius: 20px;
  --border-color: #AC66CC;
}


.buttons {
  position: absolute;
  bottom: 10px;
  z-index: 1000;
}

button {
  padding: 0.6rem 1rem;
  border: 0;
  flex: 1;
  background-color: var(--accent-color);
  color: var(--dash-color);
  border-radius: 100vh;
  letter-spacing: 1px;
  transition: 350ms ease;
}

button:last-child {
  margin-left: 0.5rem;
}

button:hover {
  background-color: var(--accent-color-400);
  cursor: pointer;
}
img {
  width: 100px;
  height: 100px;
}
td {
  vertical-align:middle;
}