
:root {
    --accent-color: #B958A5;
    --accent-color-400: #9145B6;
    --bg-color: #fdcf6f;
    --dash-color: #FFED99;
    --text-color: #AC66CC;
    --border-radius: 20px;
    --border-color: #AC66CC;
  }
  .logout {
    font-family:monospace;
    text-decoration: none;
    font-size: 3ch;
    transition-duration: .3s;
    position:absolute;
    top: 40px;
    right: 90px;
}
.flex-summary{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  justify-content: center;
}

.button-area {
  margin-top: 30px;
}
.flex-home{
  display:flex;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
  background-color: 777;
  border-radius: 10px;
  border: 10px #9145B6;
  box-shadow: 5px 2px#000000;
  border-style:ridge;
  margin: auto;
  margin-top: 2%;
  height: 80vh;
  width: 70vw;
}