:root {
    --accent-color: #B958A5;
    --accent-color-400: #9145B6;
    --bg-color: #fdcf6f;
    --dash-color: #FFED99;
    --text-color: #AC66CC;
    --border-radius: 20px;
    --border-color: #AC66CC;
  }
  .logout {
    font-family:monospace;
    text-decoration: none;
    font-size: 3ch;
    transition-duration: .3s;
    position:absolute;
    top: 40px;
    right: 90px;
}
.flex-summary{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  justify-content: center;
}

.button-area {
  margin-top: 30px;
}
.flex-home{
  display:flex;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
  background: url("headphones-transformed.webp");
  background-size: cover;
  border-radius: 10px;
  border: 10px #4B2B20;
  border-style:ridge;
  margin: auto;
  margin-top: 4%;
  height: 80vh;
  width: 70vw;
}
.title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: 10000;
  color: #3a4660;
  font-size: 12ch;
  font-weight: 1000;
  font-family: monospace;
  letter-spacing: .05em;
}